{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "module": true
        }
    },
    "rules": {
        "no-multi-spaces": "warn",
        "no-const-assign": "warn",
        "prefer-const": "warn",
        "prefer-destructuring": "warn"
    },
    "extends": "eslint:recommended"
}