{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
      "no-multi-spaces": 1
    },
    "extends": "eslint:recommended"
}